@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #00021a;
  color: white;
}

h1,
h2 {
  margin: 20px 0;
  color: #8299c3;
}

.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container form {
  display: flex;
  flex-direction: column;
}

.container label {
  margin-bottom: 10px;
  color: rgb(228, 243, 255);
  font-weight: 600;
}

.container label b {
  color: rgba(236, 78, 78, 0.705);
}

.container label span {
  font-size: 12px;
}

.container input {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #0a0b1d;
  border: 1px solid #1f3056;
  color: #fff;
  outline: none;
}

.container input[type="file"] {
  padding: 20px;
  cursor: pointer;
}

input[type="file"]::file-selector-button {
  padding: 8px;
  background-color: #5e93e3;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.container button {
  padding: 10px;
  background-color: #5e8de3;
  color: #000;
  font-weight: 650;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.4s;
}

.container button:hover {
  background-color: #4367a9;
}

.fundo {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(4, 7, 12, 0.904);
}

.spinner {
  width: 55px;
  height: 55px;
  border: 4px solid rgba(243, 243, 243, 0.068);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sucesso p {
  margin-bottom: 150px;
}

.aparecer {
  display: flex;
}
