@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #00021a;
  color: white;
}

h1,
h2 {
  margin: 20px 0;
  color: #8288c3;
}

.container {
  margin: 40px 0;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container form {
  display: flex;
  flex-direction: column;
}

.container label {
  margin-bottom: 10px;
  color: rgb(228, 243, 255);
  font-weight: 600;
}

.container label b {
  color: rgba(236, 78, 78, 0.705);
}

.container input {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #0a0b1d;
  border: 1px solid #1f2256;
  color: #fff;
  outline: none;
}

.container input[type="file"] {
  padding: 20px;
}

.container button {
  padding: 10px;
  background-color: #5e6be3;
  color: #000;
  font-weight: 650;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.4s;
}

.container button:hover {
  background-color: #434ea9;
}
